Django
gunicorn
psycopg2-binary
PyYAML
docker-py
dockerpty
docopt
requests
six
texttable
django_forms_bootstrap
dj_static
django-oauth-toolkit
django-cors-headers
django-allauth
django-compressor
pillow
requests
pylint
pylint-django